@use '../abstracts/index' as *;

.info {
    padding: 64px 32px;

    @include breakpoint(desktop) {
        padding: 140px 100px;
        width: 400px;
    }

    &_title {
        margin-bottom: 16px;

        @include breakpoint(tablet) {
            width: 55%;
        }

        @include breakpoint(desktop) {
            width: 100%;
        }
    }

    &_text {
        color: $grey-500;
        margin-bottom: 32px;

        @include breakpoint(tablet) {
            width: 90%;
            margin-bottom: 24px;
        }

        @include breakpoint(desktop) {
            width: 100%;
        }
    }

    &_shop {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include breakpoint(tablet) {
            justify-content: start;
            gap: 24px;
        }

        &-arrow {
            width: 53px;
            height: 12px;
            cursor: pointer;

            @include breakpoint(tablet) {
                width: 40px;
            }
        }
    }
}

.textWrapper.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }
  
  .textWrapper.fade-out {
    opacity: 0;
    transform: translateY(15px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }